
/* label color */
.input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input:focus + label  {
    color: #b71c1c !important;
  }
  /* label underline focus color */
  .input-field input:focus  {
    border-bottom: 1px solid #b71c1c !important; 
    box-shadow: 0 1px 0 0 #b71c1c !important;
  }

  .input-field .prefix.active {
    color: #b71c1c !important;
  }
  .switch label input[type=checkbox]:checked+.lever:after {
    background-color: #b71c1c !important;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #f44336 !important;
}
.select-wrapper ul{
    position: fixed;
}
.buttom{
        display:scroll;
        position:fixed;
        z-index: 10;
        bottom:0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
}
.nomargin{
    margin: 0px;
}
.nopading{
    padding: 0 !important;
}
.padre  {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
.up{
    margin-top: -20px;
}
#ultima{
    color: #1b5e20;
    font-weight: bold;
    border: solid #1b5e20;
}
#qrcode img{
    display: inline-block !important;
    margin: 0px;
    padding: 0;
}

.rel{
    margin-bottom: 32px;
}
.full{
    width: 100%;
}
.boton{
    text-align: center;
    color: #1b5e20;
}

