h1{
    margin: 0;
    
    color: black;
}

.tabler{
    margin-top: -130px;
    padding: 10px;
}
.table {
    border-style: solid;
    
}
#tabla td{
    padding: 10px;
}
tbody{
    background-color: white;
}
.botones{
    display:scroll;
    position:fixed;
    bottom:10px;
    right:10px;
}
.box{
    border-radius: 48px;
    padding-left: 10px;
    padding-right: 10px;
    display:scroll;
    position:fixed;
    bottom:10px;
    right:10px;
}
.box .input-field{
    margin: 0px;
}
.select-dropdown {
    
    margin: 0px !important;
}
.pagos{
    display:scroll;
    position:fixed;
    bottom: 10px;
    left:10px;
}
#ultima{
    background: green;
    color: #ffffff;
}
.myButton{
    border-radius: 28px;
}
.nomargin{
    margin: 0 !important;
}
.ht{
   padding: 10px !important;
}
.padre {
    position: fixed;
    text-align: center;
    background: #000000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Buttonqr {
	background-color:#ff0000;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #8c0000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662828;
}
.Buttonqr:hover {
    background-color:#b51717;
    -webkit-filter: invert(80%);
    filter: invert(80%);
}
  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 84px;
    height: 84px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.ico{
    background:url(../img/qr-code.png) left top; 
    width:64px; 
    height:64px;
    display: block;
    float: left;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
